td {
	white-space: nowrap !important;
	max-width: 500px;
	min-width: 100px;
	overflow: hidden;
	padding-left: 16px !important;
	padding-right: 16px !important;
}

.form-control {
	padding: 12px;
	padding-left: 44px;
	height: auto;
	border-radius: 4px;
	background-color: #f5f5f5;
	box-shadow: 0 1px 1px #ababab77 inset, 0 -1px 1px #ffffff inset;
	margin-top: 4px;
	margin-bottom: 4px;
	border: 1px solid #d3d3d3d8;	
}
.form-control[type="checkbox"] {
	padding: 8px;
}

.dark .form-control {
	background-color: #282828;
	box-shadow: 0 1px 1px #202020 inset, 0 -1px 1px #202020 inset;
	border: 1px solid #303030;	
}

.dark .form-control:hover {
	background-color: #242424;
}

.form-control:focus {
	background-color: #ababab2d;
	box-shadow: none;
}

.dark .form-control:focus {
	background-color: #202020;
}

.card-body {
	padding: 24px;
}

.card-body .row {
	margin: 0;
}



