/* https://cssdeck.com/labs/full/simply-login-form */

.modal .card {
	border-radius: 6px;
	color: black;
	border: none;
	background-color: #e8e8e8;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}
.modal .dark .card {
	color: white;
	background-color: #1e1e1e;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

.modal .card-header {
	/* background-color: #121212; */
	background-color: #cdcdcd;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	margin-bottom: 30px;
	border: none;
}
.modal .dark .card-header {
	background-color: #121212;
}

.modal .card-title {
	width: 100%;
	font-size: 18px;
	text-align: center;
}

.modal .card-body {
	padding-top: 0.25rem;
	padding-bottom: 0;
	margin-left: 30px;
	margin-right: 30px;
	gap: 1rem;
}

.modal .card-footer {
	background-color: transparent;
	flex-direction: column;
	align-items: stretch;
	border: none;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 0;
	padding-bottom: 15px;
}

.modal .form-control:first-child {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.modal .form-control:last-child {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	/* border-bottom: 1px solid #353535; */
	border-bottom: 1px solid #c0c0c0;
}

.modal .dark .form-control:last-child {
	border-bottom: 1px solid #353535;
}

.modal .form-control:focus {
	/* background-color: #161616; */
	background-color: #c8c8c8;
	/* border-top: 1px solid #0b0b0b; */
	border-top: 1px solid #c8c8c8;
}
.modal .dark .form-control:focus {
	background-color: #161616;
	border-top: 1px solid #0b0b0b;
}

.modal a {
	color: black !important;
}
.modal .dark a {
	color: white !important;
}

.modal .form-control:last-child:focus {
	border-top: 1px solid #c8c8c8;
	border-bottom: 1px solid #c0c0c0;
}

.modal .dark .form-control:last-child:focus {
	border-top: 1px solid #0b0b0b;
	border-bottom: 1px solid #353535;
}

.modal .form-control {
	color: black;
	background-color: #dedede;
	border: none;
	border-radius: 0;
	height: auto;
	border-top: 1px solid #efefef;
}

.modal .form-control:not([type='checkbox']) {
	padding: 14px 2px 14px 40px;
}

.modal .form-control[type='checkbox'] {
	padding: 8px;
}

.modal .dark .form-control {
	color: white;
	background-color: #141414;
	border-top: 1px solid #0b0b0b;
}

.modal .form-control:focus {
	box-shadow: none;
}
